*{
  margin: 0;
  padding: 0;
}
.image-section{
  height: 100vh;
  background-image: url('../src/Images/login\ background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  display: flex;
}
input, select{
  border: 1px solid rgb(136, 134, 134);
  border-radius: 5px;
  padding: 5px ;
}
input:focus{
  border:1px solid rgb(136, 134, 134);
  outline: none;
}
.login-form{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
a{
  text-decoration: none;
}